body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    border: 2px solid #800040;
    border-radius: 10px;
    padding: 30px 40px;
    text-align: center;
    width: 350px;
    background-color: #fff;
}

h2 {
    margin-bottom: 20px;
    color: #800040;
}

form input,
form select {
    width: 100%;
    padding: 12px;
    margin: 8px 0;   /* más separación entre los campos */
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 14px;
    font-size: 18px;
    background-color: #800040;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 12px;
}

button:hover {
    background-color: #a00055;
}
