assets/external/
.states
__pycache__/
*.db
.web
__pycache__
.pytest_cache
assets
myenv
menv
.venv
venv
.env
prompt.txt
.DS_Store
.vscode
.idea
*.log
*.pot
*.mo
*.pyc
*.pyo
*.pyd
*.sqlite3
*.swp
*.swo
*.bak
*.tmp
*.orig
*.rej
*.class
*.jar
*.war
*.ear
*.iml
*.ipr
*.iws
*.sublime-project