<!DOCTYPE html>
<html>
<head>
    <title>Vista Principal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="main-container">
        <h1>Bienvenido!</h1>
            <div class="data-list">
                <p style="text-align:center; font-size:1.2rem; color:#00897b; margin-top:2rem;">¡La conexión fue exitosa!</p>
            </div>
    <a href="{{ url_for('registro.alta_usuario') }}" class="logout-btn" style="margin-bottom:1rem;">Registrar nuevo usuario</a>
    <a href="{{ url_for('auth.logout') }}" class="logout-btn">Cerrar sesión</a>
    </div>
</body>
</html>