<!-- templates/login.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login SAE</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h2>Iniciar Sesión</h2>
        <form method="post" action="/login">
            <input type="text" name="usuario" placeholder="Usuario" required class="input-grande">
            <br>
            <input type="password" name="contrasena" placeholder="Contraseña" required class="input-grande input-grande-mb24">
            <br>
            <button type="submit" onclick="window.location.href='/portada'">Entrar</button>
        </form>
        {% if mensaje is defined %}
            <div class="status {{ 'ok' if exito else 'fail' }}">
                {{ mensaje }}
            </div>
        {% endif %}
    <a href="/index" class="volver-inicio">&larr; Volver al Inicio</a>
    </div>
</body>
</html>
